/* 1) Google font import — must be first */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* 2) Tailwind import — second */
@import "tailwindcss";

/* 3) Your custom CSS */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
